option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false
container_commands:
  build_app:
    command: "npm run build"
  debug_permissions:
    command: |
      echo "Checking user and permissions:"
      whoami
      id
      echo "Checking if npm install is working correctly:"
      ls -la /node_modules
      npm list
