option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
container_commands:
  01_npm_install:
    command: "npm install"
  02_build:
    command: "npm run build"
  03_debug_permissions:
    command: |
      echo "Checking user and permissions:"
      whoami
      id
      echo "Checking environment variables:"
      printenv
      echo "Checking if npm install is working correctly:"
      ls -la /node_modules
      npm list
      echo "Checking if the environment variable NODE_ENV is set:"
      echo $NODE_ENV
  04_check_environment_vars:
    command: |
      echo "NODE_ENV is $NODE_ENV"
      echo "Listing all environment variables..."
      env
